@import url("root.css");

.home-page-header {
    background-color: var(--custom-yellow);
    display: flex;
    height: 60vh;
}

.menu-header {
    display: flex;
    position: fixed;
    height: fit-content;
    width: 100vw;
    z-index: 100;
    align-items: flex-start;
    justify-content: center;
}

.menu-header-link {
    display: flex;
    background: transparent;
    border-width: 0;
    font-family: Goli-SemiBold;
    color: var(--custom-black);
    font-size: 1.5em;
    text-decoration: none;
    margin: 15px;
    z-index: inherit;
}

.menu-header-bg {
    display: flex;
    position: fixed;
    opacity: .8;
    background: var(--custom-yellow);
    height: 0px;
    width: 50%;
    z-index: calc(inherit - 1);
    transition: height .5s ease;
    /* animation: menu-header-show-gb linear; */
}

.menu-header-bg.hidden {
    height: 0px;
}
.menu-header-bg.visible {
    height: calc(1.5em + 30px);
}

.title {
    position: relative;
    margin: 0;
    color: rebeccapurple;
    font-size: 5em;
    font-family: Goli-Regular;
    overflow: hidden;
    animation: writer 1s 1s ease forwards;
}

/* .title::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    color: black;
    overflow: hidden;
    animation: writer .5s ease forwards;
} */

@keyframes writer {
    0% {
        width: 100%;

    }
    50% {
        margin-left: 0px;
        filter: blur(0px);
    }
    100% {
        margin-left: -200px;
        width: 0%;
        filter: blur(10px);
    }
}
